.daily-item {
    display: inline-block;
    max-width: 414px;
    min-height: 30px;
    /*border: 2px solid magenta; */
    margin: 2px;
    padding: 2px;
    border-radius: 6px;
    background-color: rgb(54, 97, 54);
}

.day {
    font-size: larger;
    color: whitesmoke;
}

.forecast-items {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    align-items: center;
    position: absolute;
    left:0;
}

.day {
    font-size: small;
}

.title {
    margin-top: 60px;
    color: rgb(69, 56, 81);
}

.temp {
    font-size: medium;
    color: rgb(88, 181, 88);
    display: inline;
}

.desc {
    font-size: small;
    font-weight: 100;
    color: whitesmoke;
}