.forecast-bar {
    max-width: fit-content;
    max-height: 40px;
    margin: auto;
    margin-top: 20px;
}

.daily-item {
    display: inline-block;
    position: relative;
    padding: 5px;
    border-radius: 25px;
    align-items: center;
    background-color: rgba(40, 73, 40, 0.5); 
    height: 120px;
    min-width: 50px;
    margin: 2px;
    margin-top: 90px;
}

.day {
    font-size: larger;
    color: whitesmoke;
    stop-opacity: inherit;
    font-size: small;
}

.forecast-items {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-evenly;
    height: 120px;
    left: 0;
}

.temp {
    font-size: medium;
    color: whitesmoke;
    display: inline;
}

.desc {
    font-size: small;
    font-weight: 100;
    color: whitesmoke;
    height: 20px;
    max-width: fit-content;
}

.icon-small {
    width: 30px;
    display: flex;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: -5px;
}