.forecast-bar {
    margin-top: 10px;
    max-width: fit-content;
    max-height: 40px;
}

.daily-item {
    display: inline-block;
    position: relative;
    padding: 5px;
    border-radius: 25px;
    align-items: center;
    margin: auto;
    background-color: rgba(40, 73, 40, 0.5); 
    margin-top: 80px;
    width: 52px;
    height: 100px;
    max-width: fit-content;
    
}

.day {
    font-size: larger;
    color: whitesmoke;
    stop-opacity: inherit;
    font-size: small;
}

.forecast-items {
    display: flex;
    justify-content: space-between;
    margin: 0px;

    position: absolute;
    left:0;
    width: 57px;
    height: 100px;
}

.title {
    margin-top: 60px;
    color: whitesmoke;
    text-align: left;
}

.temp {
    font-size: medium;
    color: whitesmoke;
    display: inline;
}

.desc {
    font-size: small;
    font-weight: 100;
    color: whitesmoke;
    height: 20px;
}

.icon-small {
    width: 20px;
}