.crops-title {
    color: rgb(222, 152, 95);
    margin-top: 50px;
    font-size: 26px;
    margin-bottom: 10px;
    font-weight: bolder;
}

.box {
    border-radius: 30px;
    color: rgb(100, 125, 88);
    background-color: rgb(229,239,220);
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    margin: -20px;
    margin-top: 20px;
    margin-bottom: 70px;
}

.veg {
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
    padding-top: 5px;
    border: 2px solid rgb(144, 171, 130);
    border-radius: 40px;
    margin: 30px;
    font-size: 20px;
    vertical-align: middle;
}

.latin {
    font-size: 15px;
    font-weight: 400;
    float: left;
    margin-top: -20px;
    color: rgb(135, 154, 126);
}

.name {
    display: block;
    text-align: left;
}

.veg-img {
    padding-top: 10px;
    width: 55px;
    height: 55px;
}

.veg-name {
    font-size: 20px;
    font-weight: 600;
}