.container {
    position: relative;
    /* width: 414px; */
    /* height: 736px; */
    /* background-image: url(../background.png); */
    /* background-size: cover; */
    margin: 20px auto;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: larger;
    text-align: center;
    padding: 20px;
    padding-top: 30px;
    color: rgb(161, 121, 102);
}