.weather {
    width: 250px;
    color: rgb(222, 152, 95);
    margin: 0 auto 0 auto;
    margin-top: -25px;
    text-align: center;
}

.top {
    display: inline;
    justify-content: space-between;
    align-items: center;
}

.city {
    font-weight: 600;
    font-size: 20px;
    margin: 0;
    letter-spacing: 0.3px;
    text-align: center;
}

.weather-desc {
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    margin-top: -5px;
    margin-bottom: -8px;
    text-align: center;
}

.weather-icon {
    width: 40px;
}

.temperature {
    font-weight: bolder;
    font-size: 90px;
    width: auto;
    letter-spacing: -5px;
    margin: 0 10px 0 10px;
}

.details {
    display: flex;
    justify-content: center;
    position: relative;
    color:  rgb(100, 125, 88);
    margin-top: 170px;
}

.column {
    position: relative;
    float: left;
    width: 100%;
    border: 2px solid  rgb(144, 171, 130);
    /* border: 3pt solid red; */
    display: flex;
    align-items: center;
    gap: 0.3em;
    justify-content: center;
    border-radius: 25px;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;

}
.row{
    content: "";
    display: table;
    float: left;
    clear: both;
    padding-top: 10px;
    width: 200px;
    margin-right: 10px;
    margin-left: 10px;
}

.parameter-label {
    text-align: left;
    font-weight: 500;
    font-size: 14px;
    /* border: 3pt solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3em;
}

.parameter-value {
    font-weight: 600;
    font-size: 18px;
}

.head {
    padding: 0 auto;
    margin: 0 auto;
}

.sun-times {
    display: flex;
    justify-content: space-between;
    padding: 0 auto;
    margin-top: 0 auto;
    text-align: end;
    margin-left: 2px;
    margin-right: 2px;
}

.rise {
    text-align: left;
    color: rgb(222, 152, 95);
}

.set {
    color: rgb(222, 152, 95);
}

.rise,
.set {
    font-size: 15px;
    font-weight: bolder;
}

.city {
    text-align: center;
    font-size: 100;
    margin-top: -5px;
    font-weight: 900;
}

.time{
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 200;
    margin-top: 0;
}

.pressure-img, .feels-img, .humidity-img, .wind-img{
    width: 25px;
}
