.weather {
    width: 300px;
    border-radius: 6px;
    border: 3px solid transparent; 
    /* box-shadow: 10px -2px 20px 2px rgb(0 0 0 /30%); */
    color: rgb(222, 152, 95);
    margin: -20px auto 0 auto;
    padding: 0px 20px 20px 20px;
}

.top,
.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.city {
    font-weight: 800;
    font-size: 24px;
    line-height: 1;
    margin: 0;
    letter-spacing: 0.3px;
}

.weather-desc {
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    margin: 0;
    text-align: left;
}

.weather-icon {
    width: 70px;
    color: white;
}

.temperature {
    font-weight: bolder;
    font-size: 70px;
    width: auto;
    letter-spacing: -5px;
    margin: 0 10px 0 10px;
}

.details {
    width: 100%;
    padding-left: 20px;
}

.parameter-row {
    display: flex;
    justify-content: space-between;
}

.parameter-label {
    text-align: left;
    font-weight: 500;
    font-size: 12px;
}

.parameter-value {
    text-align: right;
    font-weight: 600;
    font-size: 12px;
}

.head {
    padding: 0 auto;
    margin: 0 auto;
}

.sun-times {
    display: flex;
    justify-content: space-between;
    padding: 0 auto;
    margin-top: 0 auto;
    text-align: end;
    margin-left: 2px;
    margin-right: 2px;
}

.rise {
    text-align: left;
}