.redirect-img {
    max-width: 40px;
}

.foot {
    position: relative;
    display: flex;
    justify-content: center;
    /* margin: 30px 20px 32px 20px; */
    width: inherit;
    align-items: center;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    padding-left: 2em;
    padding-right: 2em;
}

/* on press scale down a lil*/
button:active {
    transform: scale(0.9);
}