.redirect-img {
    max-width: 40px;
}

.foot {
    position: relative bottom;
    display: flex;
    margin: 30px 20px 32px 20px;
    width: 250px;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

/* on press scale down a lil*/
button:active {
    transform: scale(0.9);
}