.profile-img {
    margin-left: 40px;
    margin-top: -80px;
    width: 100px;
    float: left;
}

.profile-section {
    background-color: rgb(229,239,220);
    border-radius: 30px;
    margin: -20px;
    margin-top: 100px;
    padding-bottom: 37px;
}

/* make the name bolder */
.title {
    padding-top: 60px;
    color: rgb(106, 70, 112);
    font-size: 25px;
    padding-left: 0px;
}

h1, h2 {
    font-size: 20px;
}


.about-me {
    color: rgb(135, 154, 126);
    margin-top: 50px;
    display: block;
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
}

li, p {
    font-weight: 400;
    font-size: 14px;
}

.subscr {
    margin-top: 0;
    color: rgb(131, 104, 136);
    font-size: 16px;
    margin-left: -60px;
}