.container {
  position: relative;
  width: 414px;
	height: 736px;
  background-image: url(../background.png);
  background-size: cover;
  margin: 20px auto;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: larger;
  text-align: center;
  padding: 20px;
  padding-top: 30px;
  color: rgb(161, 121, 102);
}

.header {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: bolder;
  text-align: center;
  margin-top: 25px;
}

.footer {
  padding-bottom: 0;
  margin-bottom: -20;
}

.searchBar {
  color: rgb(144, 171, 130);
  text-align: left;
  border: 2px solid rgb(222, 152, 95);
  border-radius: 6px;
}

.rise,
.set {
  font-size: medium;
  padding-top: 5px;
}

.foot {
  bottom: 0;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 30px;
}